<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-3">Nuestra Visión</h1>
        <p>
            Ser líderes en innovación tecnológica en América Latina para el año 2030, 
            destacándonos por nuestro compromiso con la excelencia, la ética empresarial 
            y el desarrollo sostenible.
        </p>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
